footer{background: #343a40; color: white; padding: 25px;}
.yoyo{display: flex;}
.yoyo:hover > i{color: #fff;}
.userIcn{    line-height: 42px;    color: #a3a6a9;    margin-right: -4px;    padding-left: 8px;transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;}
.yoyo .nav-item{margin-right: 0;}

/* body{background:
    radial-gradient(#8b8b8b75 3px, transparent 4px),
    radial-gradient(#8b8b8b75 3px, transparent 4px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
    #fff;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;} */